:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #f5f5f5;
  --bg-image: url(../images/cover-image-light.png);
  --decor-color:#353430;
  --text-title-color: #FFC2E6;
  --text-color: #353430;
  --outline-color: rgb(53, 52 , 48, 0.4);
  --text-article-color: #353430;
  --display-value: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #ff8dcb;
  --bg-color: #f5f5f5;
  --bg-image: url(../images/cover-image-light.png);
  --decor-color:#353430;
  --text-title-color: #FFC2E6;
  --text-color: #353430;
  --outline-color: rgb(53, 52 , 48, 0.4);
  --text-article-color: #353430;
  --display-value: none;
  }
}